body {
    padding: 3rem;
    background-color: beige;
}

p {
    margin: 0;
    font-size: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.col {
    border: .2rem solid beige;
    padding: 2rem;
    background-color: bisque;
}

.col .elements {
    border: .4rem solid beige;
}

#ex4, #ex5, #valorfinal {
    padding-top: 1rem;
}

#value1, #value2 {
    width: 4rem;
}